

<table style="background-color: #e7edfb;padding: 35px;font-family: Myriad Pro;" width="650" cellspacing="0" cellpadding="0"> 
    <tr>
        <td>
            <table  style="width: 100%;font-weight: bold;" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="text-align: left;font-size: 12px;"><a href="#" style="color: #2a2c76">DIABEZONE</a></td>
                    <td style="text-align: right;font-size: 12px;"><a href="#" style="color: #2a2c76">SUBSCRIBE</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td> 
            <table style="text-align: center;padding: 30px;width: 100%;" cellspacing="0" cellpadding="0">
                <tr>
                    <td><img src="assets\images\e-zone-logo.png" alt="e zone"></td>                    
                </tr>
                <tr><td style="font-size: 12px;padding: 10px;text-align: center;">Easy Access Diabetes</td></tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
             <table style="background-color: #fff; padding: 60px">
                <tr>
                    <td style="border-bottom: 1px solid #ccc;padding-bottom: 30px;">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="padding-bottom: 15px;font-size: 16px;font-weight: 500;">Hello User Name</td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 20px;font-size: 16px;line-height: 1.4;font-weight: 500;">Hi everyone and welcome to the new Design Better newsletter from Invision. Each installment will feature conversation with some of the world's 
most renowned design leaders with stories to help you improve your design practice for the better.</td>
                            </tr>
                        </table>                       
                    </td>                    
                </tr>
                <tr>
                    <td style="padding-top: 50px;text-align: center; padding-bottom: 15px; font-size: 30px;font-weight: bold;">
                        For those who do not have access to good diabetes treatment
                    </td>                    
                </tr>
                <tr>
                    <td style="padding-top: 15px; padding-bottom: 20px;text-align: center;color: #b9babf;">
                        Follow us
                    </td>                    
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%;text-align: center;">
                            <tr>
                                <td>
                                    <a href="#" style="margin: 0px 10px;">facebook</a>
                                    <a href="#" style="margin: 0px10px;">twitter</a>
                                    <a href="#" style="margin: 0px 10px;">Linkin</a>
                                </td>  
                            </tr>
                        </table>
                    </td>                    
                </tr>
            </table>
        </td>
    </tr>
</table>