//_global.scss
*,*:after,*:before {
  @include box-sizing(border-box);
}

*:focus {
    outline: none;
}

html {
    background: $white;
    height: $full;
    min-width: $full;
    width: $full;
}
a {
	color: brand-blue-light;
	text-decoration: none;
	@include transition(all $fast ease);
	&:hover {
		color: $black-000;
		text-decoration: none;
	}
}
p {
	line-height: 22px;
}
button, input[type="submit"] {
	@include transition(all $fast ease);
}
img {
  max-width: $full;
  vertical-align: middle;
}

.relative {
	position: relative;
}
.not-relative {
	position: static;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}		
.clear {
	clear: both; 
}
.hide {
	display: none;
}
hr {
	border-color: $hr;
	&.no-space {
		margin: 0;
		padding: 0;
	}
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
	@include clear;
}
html, body {
	height: $full;
}
body {
  color: $brand-scroll;
  font:{    
    size: $default;
    weight: normal;
  } 
  @include robo-reg;
  min-height: 500px;
  min-width: 320px; 
  overflow-x: hidden;
  position: relative;
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}

// message theme
.isa_info, .isa_success, .isa_warning, .isa_error {
	border-style: solid;
    border-width: 1px;
    font-size: $s2;
	padding: 6px 0;
	text-align: center;
	i {
	 	margin: 10px 22px;
    	font-size: 2em;
    	vertical-align: middle;
	}
	.msg {
		display: inline-block;
		width: 50%;		
	}
}
.isa_info {
    color: $info;
    background-color: $info-bg;
    border-color: $info-brd;
}
.isa_success {
    color: $success;
    background-color: $success-bg;
    border-color: $success-brd;
}
.isa_warning {
    color: $warning;
    background-color: $warning-bg;
    border-color: $warning-brd;
}
.isa_error {
    color: $error;
    background-color: $error-bg;
    border-color: $error-brd;
}

.pad-30tb {
	padding-bottom: 30px;
	padding-top: 30px;
}
.pad30b {
	padding-bottom: 30px;
}
.pad30all {
	padding: 30px;
}
.pad30t {
	padding-top: 30px;
}
.pad-70-tb {
	padding-bottom: 30px;
	padding-top: 30px;
	@include desktop {
		padding-bottom: 70px;
		padding-top: 70px;
	}
}
.pad-70-t {
	padding-top: 30px;
	@include desktop {
		padding-top: 70px;
	}
}
.pad-70-b {
	padding-bottom: 30px;
	@include desktop {
		padding-bottom: 70px;
	}
}
.pad-70-all {
	padding: 30px;
	@include desktop {
		padding: 70px;
	}
}
.pad0trbl {
	@include mobile {
		padding: 0;
	}
}
.padesk-30l {
	@include desktop {
		padding-left: 30px;
	}
}
.no-pad {
	padding: 0;
}
.margin-70-t {
	margin-top: 30px;
	@include desktop {
		margin-top: 70px;
	}
}
.margin-70-b {
	margin-bottom: 30px;
	@include desktop {
		margin-bottom: 70px;
	}
}
.margin-70-tb {
	margin-bottom: 30px;
	margin-top: 30px;
	@include desktop {
		margin-bottom: 70px;
		margin-top: 70px;
	}
}
.mar-30tb {
	margin-bottom: 30px;
	margin-top: 30px;
}
.mar30b {
	margin-bottom: 30px;
}
.mar30t {
	margin-top: 30px;
}
@include tablet-potrait {
	.pad-0t-mob {
		padding-top: 0!important;
	}
	.pad-30t-mob {
		padding-top: 30px!important;
	}
	.pad-30b-mob {
		padding-bottom: 30px!important;
	}
}

@include desktop {
	.margin-30t-dsk {
		margin-top: 30px;
	}
	.padding-30t-dsk {
		padding-top: 30px;
	}
}
.margin-30t {
	margin-top: 30px;
}
.mblur {
	@include desktop-land {
		body {
			overflow: hidden!important;
		}
		section, footer, main {
			@include filter(blur(3px));
		}
	}
}
.color-fff {
	color: $white;
}
.white-fff, .bg-white {
	background-color: $white;
}
.white-fff-mob {
	@include tablet-potrait {
		background-color: $white;		
	}
}

body.touch-screen {
	.for-touch-block {
		display: block;
	}
	.for-touch-inline {
		display: inline;
	}	
	.for-touch-inline-block {
		display: inline-block;
	}		
}	

.m-heading {
	font-size: 18px;
	color: $blue-dark;
	font-weight: 500;
	padding-bottom: 10px;
	@include desktop {
		font-size: 30px;
	}
	&.secondary {
		@include desktop {
			font-size: 24px;
		}
	}
}

.bg-gray {
	background: $gray-f5f5f5;
}

.fontBold {
	font-weight: 700;
	&.fontNormal {
		font-weight: 400;
	}
}

.disabled-box {
	pointer-events: none;
    opacity: 0.7;
}

.small-caption {
	font-size: 12px;  
	color: $black-666; 
}

.md-ht {
	height: 100px;
}