//print
@media print {
  aside#sidebar,header[role="banner"],footer,#comments,#respond {
    display: none;
  }
  #container #content #main {
    margin: 0px;
    padding: 0px;
    width: 90%;
  }
  * {
    color: #000;    
    background-color: #fff;
    text-shadow: none;
  }
  a:after {
    content: "( "attr(href)" )";
  }
  *,
  *:before,
  *:after {
    color: #000!important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100%!important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000!important;
  }
  .label, label {
    border: 1px solid #000;
  }
  .table, table {
    border-collapse: collapse!important;
  }
  .table td, table td,
  .table th, table th {
    background-color: #fff!important;
  }
  .table-bordered th, 
  .table-bordered td {
    border: 1px solid #ddd!important;
  }
}