	
.dashboard-left {	
	padding: 0!important;
	box-shadow: 0 -2px 11px #ddd;
    position: relative;
    z-index: 1;
    @include desktop {
    	height: 100%;
    }
    #burger {
    	position: absolute;
	    right: 20px;
	    top: 30px;
    }
	.dashboard-logo {
		margin: 15px 0 15px 15px;
		@include desktop {
			margin: 30px 0;
		}		
	}
	#header-navigation {
		@include tablet-potrait {
			display: none;
			position: absolute;
			left: 0;
			width: 100%;
			height: 100vh;
		    top: 85px;
		    z-index: 9;
		    background: $white;
		}
	}
	.dashboard-menu {
		
		ul {
			li {
				border-bottom: 1px solid $border-light;
				&:first-child {
					border-top: 1px solid $border-light;
				}
				a {
					padding: 20px 0;
					font-weight: 600;
					padding-left: 30px;
					border-left: 3px solid transparent;
					display: block;
					color: $brand-scroll;
				}
				&:hover {
					a {
						color: $blue-dark;
					}
				}
				.count {
					padding: 8px;
					text-align: center;
					background: #e4e6ed;
					color: $brand-scroll;
					font-size: 11px;
					margin: 0 10px;
					border-radius: 100%;
				}
				&.active, &:hover {
					a {
						border-left: 3px solid $blue-dark;
						color: $blue-dark;
					}
					.count {
						background: $blue-dark;
						color: $white;
					}
				}
			}
		}
	}
}

.main-content-dashboard {
	height: 100%;
	background: $dashboard-bg;
	padding: 0!important;
	.header-wpr {
		box-shadow: 8px 2px 11px #ddd;
		background: $white;
		padding: 0;
    	position: relative;
    	.menu-section {
    		padding-top: 10px;
    		padding-bottom: 10px;
    		.patient-info {
    			padding: 10px 0 10px 15px;    			
    			li{
    				font-size: 14px;
    				&:first-child {
    					font-size:18px;
    					font-weight: 700;
    				}
    				&:after {
    					content: "|";
    					padding: 0 5px;
    				}
    				&:last-child {
    					&:after {
    						display: none;
    					}
    				}
    			}
    		}
    	}
    	.reg-now-btn {
    		padding: 10px 42px;

    		@include mobile {
    			width: 100%;
    		}
    	}
    	.search-keybox {
    		margin: 10px 0;
    		@include desktop {
    			margin: 0;
    		}
    		.form-control {
    			padding: 7px 10px;
    		}
    	}
	}
	
	
	.main-content {
		padding: 20px;
		@include desktop {
			padding: 30px 30px 60px;
		}
		h2 {
			font-size: 30px;
			padding-bottom: 30px;
			color: $brand-blue;
			@include robo-bld;
		}

		.data-table {
			table {
				border-radius: 8px;
				background: $white;
				width: 100%;
				box-shadow: 0px 0px 5px #ddd;
				thead {
					background: #fbfbfb;
					color: $brand-scroll;
					@include robo-bld;
					@include tablet-potrait {
						display: none;
					}
				}
				tr {
					td, th {
						padding: 15px 10px 0 0;
						@include desktop {
							padding: 15px 15px 15px 0;
						}
						&:first-child {	
							@include desktop {
								padding-left: 25px;
							}	
						}
						&:last-child {	
							@include tablet-potrait {
								padding-bottom: 20px;
							}	
						}
					}
					@include tablet-potrait {
						&:nth-child(odd) {
							background: #efefef;
						}
					}
				}
				tbody {
					tr {
						border-top: 1px solid #ebeaeb;
						&.incomplete {
							border-left: 5px solid #17c671;
						}
						&.status-orange {
							border-left: 5px solid #ff7200;
						}
						&:hover {
							background: $brand-color;
						}
						td {
							@include tablet-potrait {
								display: block;
								padding-left: 20px;
							}

							&:before {
								@include tablet-potrait {
									content: attr(data-th);
									width: 100%;
									padding-bottom: 5px;
									font-weight: 700;
									display: block;
								}
							}
							&:first-child {	
								@include tablet-potrait {
									padding-top: 15px;
									&:before {
										display: inline;
									}							
								}	
							}
						}
					}
				}
			}
			.view-data {
				font-weight: 700;
				text-decoration: underline;
				text-transform: uppercase;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}


.myaccount-menu {
	margin: 20px 0;	
	@include desktop {
		margin: 0;
		padding-top: 23px!important;
    	padding-left: 20px;
    	border-left: 1px solid #ccc;
    	height: 100%;
	}
	.dropdown-toggle {
		cursor: pointer;
		font-weight: 700;
		color: $brand-scroll;
	}
	.dropdown-menu {
		right: 0;
		left: auto;
		a {
			font-size: 12px;
			padding: 10px;	
		}
	}
}


.textbox-noborder {
	input[type=text], input[type=number], input[type=date], textarea {
		border: none;
		background: transparent;
		padding: 0;
	}
}

.box-content-wall {
	background: $white;
	border-radius: 10px;
	box-shadow: 0px 0px 8px #aaa;
	.title {
		font-weight: 700;
		padding: 25px 30px 20px;
		border-bottom: 1px solid $border-light;
	}
	&__info {
		padding: 30px 30px 20px;
		ul {
			li {
				line-height: 22px;
				padding-bottom: 10px;
			}
		}
	}
	.discussion-info {
		border-bottom: 1px solid $border-light;
		padding-bottom: 20px;
		margin-bottom: 15px;
		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
		}
		p {
			padding-top: 15px;
		}
	}
	.custom-radio {
		label {
			line-height: 24px;
			margin: 0;
		}
	}
	.re-yes-no {
		
	}
	.custom-radio {
			margin-right: 20px;
		}
	.data-table {
		table {
			border-radius: 0!important;
		}
	}
}

.tab-pad {
	padding-left: 20px;
	padding-right: 20px;
}

.family-options {
	padding: 30px 20px;
	.input-field {
		padding-bottom: 10px;
	}
	textarea {
		height: 80px;
	}
}

.footer-row {
	padding: 40px 20px;
	border-top: 1px solid $border-light;
}

.tab-nav {
	padding-bottom: 30px;
	ul {
		background: #f1f1f2;
		li {			
			font-weight: 700;
			padding: 20px 30px;
			cursor: pointer;
			position: relative;
			border-bottom: 4px solid $brand-green;
			&:after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				border-right: 1px solid $gray-ccc;
			}
			&:first-child {
				border-radius: 10px 0 0 0;
			}
			&.active {
				background: $white;
				color: $brand-blue;
				border-color: $brand-blue;

			}
		}
	}
}

.tab-wrapper {
	.tab-content {
		display: none;
		&:first-child {
			display: block;
		}
	}
}
.alert-if-past {
	background: $brand-color;
	padding: 20px 30px;
	width: fit-content;
	color: #293277;
	margin: 15px 25px 30px;
	border-radius: 50px;
	font-weight: 700;
	strong {
		font-weight: 700;
	}
	fa {
		font-size: 15px;
	}
}

.payment-heading-wpr {
	.m-heading {
		font-size: 24px;
		font-weight: 700;
		margin-top: 20px;
		@include desktop {
			margin-top: 0px;
		}
	}
	.myaccount-menu {
		border-left: none;
	}
}

.payment-header {	
	&__inner {		
		background: $blue-dark;
		border: 1px solid $blue-dark;
		border-radius: 15px;
		padding: 30px 0 0 0;
		margin: 30px 0;
		.inner-left {
			padding: 0px 20px 30px 20px;
			@include desktop {
				padding: 0px 0 30px 40px;
			}
			label {
				font-size: 14px;
				color: $white;
				padding-right: 10px;
			}
			input[type=text] {
				border: none;
				background: transparent;
				border-bottom: 1px solid $white;
				color: $white;
			}
		}
		.inner-right {
			padding: 0px 40px 30px 0;
			.cancel {
				margin-left: 10px;
				color: $brand-blue-light;
				margin-top: 20px;
				@include desktop {
					margin-top: 0px;
				}
			}
		}
		.payment-detail {
			background: $white;
			border-radius: 15px;
			padding: 20px;
			@include desktop {
				padding: 40px;
			}
			h3, .amount-rs {
				font-size: 18px;
				color: $blue-dark;
				@include desktop {
					font-size: 24px;
				}
			}
			.amount-rs {
				margin-top: 20px;
				@include desktop {
					margin-top: 0;
				}
			}
		}
		
	}
}

.payment-mode-selection {
	.payment-mode-selection__main {
		border: 1px solid $blue-dark;		
		margin-bottom: 40px;
		@include desktop {
			border-radius: 15px;
		}
		.tab-nav {			
			background: $gray-f5f5f5;
			padding-bottom: 0;
			@include desktop {
				width: 20%;
				border-radius: 15px 0 0 15px;
				border-right: 1px solid $blue-dark;
				display: inline-block;
				padding: 30px 0 10px;
				vertical-align: top;
			}
			ul {
				li {
					background: $blue-dark;
					color: $white;					
					border-bottom: 1px solid $white;	
					border-radius: 0;	
					padding: 20px;			
				    @include desktop {
				    	width: 80%;
				    	float: right;
				    	border-bottom: none;
				    	border-radius: 30px 0 0 30px;
						margin-bottom: 20px;
				    	margin-right: -1px;
				    }
				    &:after {
				    	display: none;
				    }
					&.active {
						background: $white;
						color: $blue-dark;
						border: 1px solid $blue-dark;
						border-right: none;
					}
				}
			}			
		}
		.tab-wrapper {
			padding: 20px;			
			color: $brand-scroll;
			@include desktop {
				width: 78%;
				padding: 40px;
				vertical-align: top;
				display: inline-block;
			}
		}

		.virtual-payment {
			
			strong {
				font-weight: 700;
			}
			input[type=text] {
				margin: 10px 0;
			}
			p {
				color: $black-666;
			}
			button {
				margin-top: 30px;
			}
		}
		.netbanking-option {
			label {
				line-height: 20px;
			}
			ul {
				li {
					border: 1px solid $black-666;
					border-radius: 3px;
					padding: 10px 10px 0 10px;
					margin: 0 0 20px 0;
					img {
						margin-left: 20px;
					}
					@include desktop {
						display: inline-block;
						margin: 0 10px 20px 0;
					}
				}
			}
		}
	}
}

.others-tab {
	font-weight: 700;
	cursor: pointer;
}



#create-patient-file {
	.modal-dialog {
		max-width: 1200px;
	}
	.modal-header {
		background-color: $brand-blue-light;
		border-radius: 20px 20px 0 0;
		h2 {
			color: $white;
			font-size: 20px;
			font-weight: 700;
    		padding-left: 10px;
		}
	}
	.patient-preview {
		border-radius: 15px;
		border: 1px solid $brand-blue;
		overflow: hidden;
		&__header {
			background-color: $brand-color;
			padding: 12px 20px;
			border-radius: 15px 15px 0 0;
			border-bottom: 1px solid $brand-blue;
			color: $brand-blue;
			font-weight: 700;
			font-size: 15px;
		}
		&__content {
			table {
				width: 100%;
				tr {
					td {
						padding: 12px 15px;
						border-bottom: 1px solid #ccc;
						&.col-head {
							color: $brand-blue;
							font-weight: 700;
							border-right: 1px solid #ccc;
							width: 48%;
						}
						p {
							font-size: 13px;
						}
					}
				}
			}
		}
	}
	.create-profile {
		@include desktop {
			min-width: 240px;
		}		
	}
	.profile-lbl {
		color: $black-999;
		font-size: 11px;
		font-weight: 500;
	}
}

.dosage-box {
	.form-control {
		width: 42px;
       	border-radius: 0;
    	text-align: center;
	}
}