.dashboard{
    &__table{
        border: 1px solid #293177;
        display: table;
        width: 100%;
        border-radius: 5px;
        .btn{
            margin-right: 10px;
        }
    }
    &__row{
        display: block;
        border-bottom: 1px solid #ebeaeb; 
        @include desktop {
            display: table-row; 
        }
    }
    &__row-bg{       
        .dashboard__cell{
            &:first-child{
                border-radius: 0px 0px 0px 5px;
            }
            &:last-child{
                border-radius: 0px 0px 5px 0px;
            }
        }
        &:nth-child(odd){
             background: #fbfbfb;
        }
    }
    &__cell{       
        padding: 10px 20px;       
        &:before{
            content: attr(data-th);
            width: 100%;
            padding-bottom: 5px;
            font-weight: 700;
            display: block;
        }
        @include desktop {
            border-bottom: 1px solid #ebeaeb; 
            padding: 20px;
            display: table-cell;
             &.cell-20{
                width: 20%;
            }
            &.cell-10{
                width: 10%;
            }
            &.cell-5{
                width: 5%;
            }
            &.cell-30{
                width: 30%;
            }
            &:before{
                display: none;
            }
        } 
    }
    &__head{
        background: #fbfbfb;
        font-weight: bold;
        display: none;
        
        @include desktop {
            display: table-row;
        }
    }
    &__head-radius{       
        .dashboard__cell{
            &:first-child{
                border-radius: 5px 0px 0px 0px;
            }
            &:last-child{
                border-radius: 0px 5px 0px 0px;
            }
        }
    }
}
.patient_details{
    margin-bottom: 20px;
    li{
        margin: 10px 0px;
        @include desktop {
            display: inline-block;
            &:after{
                content: "|";
                padding-right: 10px;
                padding-left: 10px;
            }
            &:last-child{
                &:after{
                    display: none
                } 
            }  
        }
    }
}
.dashboard{    
    &__title{
        font-family: 'Roboto', sans-serif;  
        font-size: 30px;
        padding-bottom: 30px;
        color: #293277;        
        font-weight: 500;
        margin-top: 20px;
        
        @include desktop {
            margin-top: 0px;
        }
    }
    &__sub-title{
        font-family: 'Roboto', sans-serif;  
        font-size: 18px;
        color: #333740;        
        font-weight:bold;        
    }
    &__sub-title-1{
        font-family: 'Roboto', sans-serif;  
        font-size: 14px;       
        color: #333740;        
        font-weight:bold;        
    }
}
.nav-tabs__container{
    background: #f1f1f2;
    border-bottom: 1px solid #ddd;
}
.nav-tabs{
    .nav-item{
        .nav-link{           
            color: #666666;
            font-weight: bold;
            padding: 15px;
            border-color: $custom-control-indicator-bg $custom-control-indicator-bg $custom-control-indicator-bg;
            border-bottom-width: 2px;
            border-radius: 0px;
            &.active{
                background: #fff;
                color: #293177;
                border-radius: 0px;
                border-color: #ddd #ddd #293177;                
            }
            @include desktop {
                padding: 20px;
            }
        }
    }
}
.gray-color{
    color: #949494;   
}
.upload-field__container{
    border-bottom: 1px solid #293177;
    border-top:1px solid #293177;
    
}
.upload-field{
    border: 1px solid #c1c1c2;
    padding: 10px;
    margin-right: 20px;
}
.uploadfile-details{
    display: table;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .link{
        text-decoration: underline;
        color: #293177;
    }
    &__row{
        display: table-row;
        &:last-child{
            .uploadfile-details_cell{
                border-bottom: 0px;
            }
        }
    }
    &_cell{
        display: table-cell;
        padding: 15px 20px;
        border-bottom: 1px solid #ddd;
        &.cell-5{
            width:5%;
        }
        &.cell-15{
            width:15%;
        }
    }
}
.download-link{
    color: #14bef0;
}
.next-btn{ 
    span{
        padding-left: 5px;       
        @include desktop {
            padding-left: 20px;
            position: absolute;
        } 
    }   
}