@font-face {
  font-family: "arrows";
  src: url("../fonts/arrows/arrows.eot");
  src: url("../fonts/arrows/arrows.eot?#iefix") format("embedded-opentype"),
       url("../fonts/arrows/arrows.woff") format("woff"),
       url("../fonts/arrows/arrows.ttf") format("truetype"),
       url("../fonts/arrows/arrows.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "arrow";
    src: url("../fonts/arrows/arrows.svg#Flaticon") format("svg");
  }
}

.fi:before{
    display: inline-block;
    font-family: "arrows";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.flaticon-compress:before { content: "\f100"; }
.flaticon-compress-1:before { content: "\f101"; }
.flaticon-crossroads:before { content: "\f102"; }
.flaticon-crossroads-1:before { content: "\f103"; }
.flaticon-curve-arrow:before { content: "\f104"; }
.flaticon-curve-arrow-1:before { content: "\f105"; }
.flaticon-curve-arrow-2:before { content: "\f106"; }
.flaticon-curve-arrow-3:before { content: "\f107"; }
.flaticon-diagonal-arrow:before { content: "\f108"; }
.flaticon-diagonal-arrow-1:before { content: "\f109"; }
.flaticon-diagonal-arrow-10:before { content: "\f10a"; }
.flaticon-diagonal-arrow-11:before { content: "\f10b"; }
.flaticon-diagonal-arrow-12:before { content: "\f10c"; }
.flaticon-diagonal-arrow-13:before { content: "\f10d"; }
.flaticon-diagonal-arrow-14:before { content: "\f10e"; }
.flaticon-diagonal-arrow-15:before { content: "\f10f"; }
.flaticon-diagonal-arrow-2:before { content: "\f110"; }
.flaticon-diagonal-arrow-3:before { content: "\f111"; }
.flaticon-diagonal-arrow-4:before { content: "\f112"; }
.flaticon-diagonal-arrow-5:before { content: "\f113"; }
.flaticon-diagonal-arrow-6:before { content: "\f114"; }
.flaticon-diagonal-arrow-7:before { content: "\f115"; }
.flaticon-diagonal-arrow-8:before { content: "\f116"; }
.flaticon-diagonal-arrow-9:before { content: "\f117"; }
.flaticon-double-arrow:before { content: "\f118"; }
.flaticon-double-arrow-1:before { content: "\f119"; }
.flaticon-double-arrow-2:before { content: "\f11a"; }
.flaticon-double-arrow-3:before { content: "\f11b"; }
.flaticon-double-arrow-4:before { content: "\f11c"; }
.flaticon-double-arrow-5:before { content: "\f11d"; }
.flaticon-down-arrow:before { content: "\f11e"; }
.flaticon-down-arrow-1:before { content: "\f11f"; }
.flaticon-down-arrow-2:before { content: "\f120"; }
.flaticon-down-arrow-3:before { content: "\f121"; }
.flaticon-down-arrow-4:before { content: "\f122"; }
.flaticon-down-chevron:before { content: "\f123"; }
.flaticon-down-chevron-1:before { content: "\f124"; }
.flaticon-down-chevron-2:before { content: "\f125"; }
.flaticon-down-chevron-3:before { content: "\f126"; }
.flaticon-down-chevron-4:before { content: "\f127"; }
.flaticon-exchange:before { content: "\f128"; }
.flaticon-exchange-1:before { content: "\f129"; }
.flaticon-exchange-2:before { content: "\f12a"; }
.flaticon-exchange-3:before { content: "\f12b"; }
.flaticon-exchange-4:before { content: "\f12c"; }
.flaticon-exchange-5:before { content: "\f12d"; }
.flaticon-expand:before { content: "\f12e"; }
.flaticon-expand-1:before { content: "\f12f"; }
.flaticon-expand-2:before { content: "\f130"; }
.flaticon-full-screen:before { content: "\f131"; }
.flaticon-left-arrow:before { content: "\f132"; }
.flaticon-left-arrow-1:before { content: "\f133"; }
.flaticon-left-arrow-2:before { content: "\f134"; }
.flaticon-left-arrow-3:before { content: "\f135"; }
.flaticon-left-arrow-4:before { content: "\f136"; }
.flaticon-left-arrow-5:before { content: "\f137"; }
.flaticon-left-arrow-6:before { content: "\f138"; }
.flaticon-left-chevron:before { content: "\f139"; }
.flaticon-left-chevron-1:before { content: "\f13a"; }
.flaticon-left-chevron-2:before { content: "\f13b"; }
.flaticon-left-chevron-3:before { content: "\f13c"; }
.flaticon-left-chevron-4:before { content: "\f13d"; }
.flaticon-redo:before { content: "\f13e"; }
.flaticon-redo-1:before { content: "\f13f"; }
.flaticon-right-arrow:before { content: "\f140"; }
.flaticon-right-arrow-1:before { content: "\f141"; }
.flaticon-right-arrow-2:before { content: "\f142"; }
.flaticon-right-arrow-3:before { content: "\f143"; }
.flaticon-right-arrow-4:before { content: "\f144"; }
.flaticon-right-arrow-5:before { content: "\f145"; }
.flaticon-right-arrow-6:before { content: "\f146"; }
.flaticon-right-chevron:before { content: "\f147"; }
.flaticon-right-chevron-1:before { content: "\f148"; }
.flaticon-right-chevron-2:before { content: "\f149"; }
.flaticon-right-chevron-3:before { content: "\f14a"; }
.flaticon-right-chevron-4:before { content: "\f14b"; }
.flaticon-turn-left:before { content: "\f14c"; }
.flaticon-turn-left-1:before { content: "\f14d"; }
.flaticon-turn-right:before { content: "\f14e"; }
.flaticon-turn-right-1:before { content: "\f14f"; }
.flaticon-undo:before { content: "\f150"; }
.flaticon-undo-1:before { content: "\f151"; }
.flaticon-up-arrow:before { content: "\f152"; }
.flaticon-up-arrow-1:before { content: "\f153"; }
.flaticon-up-arrow-2:before { content: "\f154"; }
.flaticon-up-arrow-3:before { content: "\f155"; }
.flaticon-up-arrow-4:before { content: "\f156"; }
.flaticon-up-chevron:before { content: "\f157"; }
.flaticon-up-chevron-1:before { content: "\f158"; }
.flaticon-up-chevron-2:before { content: "\f159"; }
.flaticon-up-chevron-3:before { content: "\f15a"; }
.flaticon-up-chevron-4:before { content: "\f15b"; }
    
    $font-Flaticon-compress: "\f100";
    $font-Flaticon-compress-1: "\f101";
    $font-Flaticon-crossroads: "\f102";
    $font-Flaticon-crossroads-1: "\f103";
    $font-Flaticon-curve-arrow: "\f104";
    $font-Flaticon-curve-arrow-1: "\f105";
    $font-Flaticon-curve-arrow-2: "\f106";
    $font-Flaticon-curve-arrow-3: "\f107";
    $font-Flaticon-diagonal-arrow: "\f108";
    $font-Flaticon-diagonal-arrow-1: "\f109";
    $font-Flaticon-diagonal-arrow-10: "\f10a";
    $font-Flaticon-diagonal-arrow-11: "\f10b";
    $font-Flaticon-diagonal-arrow-12: "\f10c";
    $font-Flaticon-diagonal-arrow-13: "\f10d";
    $font-Flaticon-diagonal-arrow-14: "\f10e";
    $font-Flaticon-diagonal-arrow-15: "\f10f";
    $font-Flaticon-diagonal-arrow-2: "\f110";
    $font-Flaticon-diagonal-arrow-3: "\f111";
    $font-Flaticon-diagonal-arrow-4: "\f112";
    $font-Flaticon-diagonal-arrow-5: "\f113";
    $font-Flaticon-diagonal-arrow-6: "\f114";
    $font-Flaticon-diagonal-arrow-7: "\f115";
    $font-Flaticon-diagonal-arrow-8: "\f116";
    $font-Flaticon-diagonal-arrow-9: "\f117";
    $font-Flaticon-double-arrow: "\f118";
    $font-Flaticon-double-arrow-1: "\f119";
    $font-Flaticon-double-arrow-2: "\f11a";
    $font-Flaticon-double-arrow-3: "\f11b";
    $font-Flaticon-double-arrow-4: "\f11c";
    $font-Flaticon-double-arrow-5: "\f11d";
    $font-Flaticon-down-arrow: "\f11e";
    $font-Flaticon-down-arrow-1: "\f11f";
    $font-Flaticon-down-arrow-2: "\f120";
    $font-Flaticon-down-arrow-3: "\f121";
    $font-Flaticon-down-arrow-4: "\f122";
    $font-Flaticon-down-chevron: "\f123";
    $font-Flaticon-down-chevron-1: "\f124";
    $font-Flaticon-down-chevron-2: "\f125";
    $font-Flaticon-down-chevron-3: "\f126";
    $font-Flaticon-down-chevron-4: "\f127";
    $font-Flaticon-exchange: "\f128";
    $font-Flaticon-exchange-1: "\f129";
    $font-Flaticon-exchange-2: "\f12a";
    $font-Flaticon-exchange-3: "\f12b";
    $font-Flaticon-exchange-4: "\f12c";
    $font-Flaticon-exchange-5: "\f12d";
    $font-Flaticon-expand: "\f12e";
    $font-Flaticon-expand-1: "\f12f";
    $font-Flaticon-expand-2: "\f130";
    $font-Flaticon-full-screen: "\f131";
    $font-Flaticon-left-arrow: "\f132";
    $font-Flaticon-left-arrow-1: "\f133";
    $font-Flaticon-left-arrow-2: "\f134";
    $font-Flaticon-left-arrow-3: "\f135";
    $font-Flaticon-left-arrow-4: "\f136";
    $font-Flaticon-left-arrow-5: "\f137";
    $font-Flaticon-left-arrow-6: "\f138";
    $font-Flaticon-left-chevron: "\f139";
    $font-Flaticon-left-chevron-1: "\f13a";
    $font-Flaticon-left-chevron-2: "\f13b";
    $font-Flaticon-left-chevron-3: "\f13c";
    $font-Flaticon-left-chevron-4: "\f13d";
    $font-Flaticon-redo: "\f13e";
    $font-Flaticon-redo-1: "\f13f";
    $font-Flaticon-right-arrow: "\f140";
    $font-Flaticon-right-arrow-1: "\f141";
    $font-Flaticon-right-arrow-2: "\f142";
    $font-Flaticon-right-arrow-3: "\f143";
    $font-Flaticon-right-arrow-4: "\f144";
    $font-Flaticon-right-arrow-5: "\f145";
    $font-Flaticon-right-arrow-6: "\f146";
    $font-Flaticon-right-chevron: "\f147";
    $font-Flaticon-right-chevron-1: "\f148";
    $font-Flaticon-right-chevron-2: "\f149";
    $font-Flaticon-right-chevron-3: "\f14a";
    $font-Flaticon-right-chevron-4: "\f14b";
    $font-Flaticon-turn-left: "\f14c";
    $font-Flaticon-turn-left-1: "\f14d";
    $font-Flaticon-turn-right: "\f14e";
    $font-Flaticon-turn-right-1: "\f14f";
    $font-Flaticon-undo: "\f150";
    $font-Flaticon-undo-1: "\f151";
    $font-Flaticon-up-arrow: "\f152";
    $font-Flaticon-up-arrow-1: "\f153";
    $font-Flaticon-up-arrow-2: "\f154";
    $font-Flaticon-up-arrow-3: "\f155";
    $font-Flaticon-up-arrow-4: "\f156";
    $font-Flaticon-up-chevron: "\f157";
    $font-Flaticon-up-chevron-1: "\f158";
    $font-Flaticon-up-chevron-2: "\f159";
    $font-Flaticon-up-chevron-3: "\f15a";
    $font-Flaticon-up-chevron-4: "\f15b";