// _buttons.scss     
.btn {
	background-color: $brand-black;
	border: 0;
	color: $white;
	cursor: pointer;
	font-size: $s4;
	letter-spacing: 0.05em;
	padding: 14px 24px;
	text-align: center;
	position: relative;
	font-weight: 600;
	text-transform: uppercase;
	@include border-radius(30px);
	@include desktop {		
		min-width: 200px;
		padding: 14px 42px;
	}
	&:hover, &:focus, &:active {
		background-color: $brand-black;
		color: $white;
		outline: none;
	}
	&.btn-small {
		height: 35px;
		padding: 5px;
	}
	&.arrow-right {
		&:after {
			content: "\f178";
			font-family: 'FontAwesome';
			position: absolute;
    		right: 35px;
		}
	}
	&.btn-hwhite {
		&:hover {
			background-color: $white;
			color: $brand-black;
		}
	}
	&.btn-black {
		background-color: $black-000;
		border-color: $black-000;
		&:hover, &:focus, &:active {
			background-color: $brand-black;
			border-color: $brand-black;
		}
	}
	&.btn-grey {
		background-color: $gray-eee;
		border-color: $gray-eee;
		color: $black-000;
		&:hover, &:focus, &:active {
			background-color: $brand-black;
			border-color: $brand-black;
			color: $white;
		}
	}
	&.btn-blue-dark {
		background-color: $brand-blue;
		border-color: $brand-blue;
		color: $white;
		&:hover, &:focus, &:active {
			background-color: $brand-blue-light;
			border-color: $brand-blue-light;
			color: $white;
		}
		&.disabled {
			pointer-events: none;
			opacity: 0.6;
		}
	}

	&.btn-blue {
		background-color: $brand-blue-light;
		border-color: $brand-blue-light;
		color: $white;
		&:hover, &:focus, &:active {
			background-color: $brand-blue;
			border-color: $brand-blue;
			color: $white;
		}
		&.btn-fontblack {
			color: $brand-black;
			&:hover {
				color: $brand-black;			
			}
		}
		&.disabled {
			pointer-events: none;
			opacity: 0.6;
		}
	}
	&.btn-ghost {
		background-color: transparent;		
		border: solid 2px $brand-blue;
		color: $brand-blue;
		&:hover, &:focus, &:active {
			background-color: transparent;	
			border-color: $brand-blue;
			opacity: 0.8;
		}		
		&.btn-black {	
			border-color: $black-000;
			color: $black-000;
			&:hover, &:focus, &:active {
				border-color: $brand-black;
				color: $brand-black;
			}
		}		
		&.btn-black-bg {	
			border-color: $black-000;
			color: $black-000;
			&:hover, &:focus, &:active {
				background-color: $brand-black;;
				border-color: $brand-black;
				color: $white;
			}
		}	
		&.btn-white {	
			border-color: $white;
			color: $white;
			&:hover, &:focus, &:active {
				border-color: $brand-black;
				color: $brand-black;
			}
		}
		&.btn-black-border {		
			border: solid 2px $brand-black;
			color: $white;
			&:hover, &:focus, &:active, &.active {
				background-color: $brand-black;
				color: $white;
			}
		}

	}
	&.btn-solid {		
		@include border-radius(0);
	}
	&.btn-nomin {
		min-width: inherit;
	}
	&.full-width {
		width: 100%;
	}
}