// _carousel.scss
.slick-dots {
	bottom: 10px;
	li {
		button {
			border: solid 1px $nav-dot;
			height: 7px;
			padding: 4px;
			width: 7px;
			@include border-radius(50%);
			&:before {
				display: none;
			}
		}
		&.slick-active {
			button {
				background-color: $nav-dot;
			}
		}
	}
}
.herowhite {
	.slick-dots {
		li {
			button {
				border-color: $white;
			}
			&.slick-active {
				button {
					background-color: $white;
				}
			}
		}
	}
}
.slick-prev, .slick-next {
	&:before {
		color: $white;
		//font-family: "arrows";
		font: normal normal normal 14px/1 FontAwesome;
		font-size: $l1;
	}	
}
.slick-prev:before {
    content: "\f104";	
}
.slick-next:before {
    content: "\f105";	
}
@include large {
	.slick-prev {	
		left: -25px;	
	}
	.slick-next {
		right: -25px;
	}
}