// _forms.scss
label.ipt {
  font-size: $s3;
  line-height: 1.385;
}
input {
  &[type="text"], &[type="password"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
    //border-color: $gray-eee;
    @include placeholder {
      color: $placeholder;
    }
    @include desktop {
      font-size: $s5;
    }
  }
}
textarea {
  resize: none;
  border-color: $gray-eee;
  @include placeholder {
    color: $placeholder;
  }
  @include desktop {
    font-size: $s5;
  }  
}
body.touch-screen {
  input {
    &[type="text"], &[type="password"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
      font-size: $default;
    }
  }
}
.form-control {
  border-color: $gray-eee;
  padding: 0.75rem 0.75rem;
  &:focus {
    border-color: $gray-ccc;
  }
}
.form-group {
  &.browse {
    span {
      border: solid 1px $gray-eee;
      display: block;
      font-size: $s3;
      overflow: hidden;      
      padding: 0.75rem 0.75rem;
    }
    &:active, &.focus {
      border-color: $gray-ccc;
    }
  }
}
// checkbox + radio
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  	position: absolute;
  	left: -9999px;  
}
[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  cursor: pointer;
  font-size: $s3;
  padding: 3px 30px 0 30px;
  position: relative;
}
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  content: "";
  height: 20px;
  border: 1px solid #c1c1c2;
  background: $white;
  width: 20px;
  border-radius: 3px;
  @include position(absolute, 0 null null 0);
}
[type="checkbox"]:not(:checked).validate-error + label:before, [type="checkbox"]:checked.validate-error + label:before, [type="checkbox"]:not(:checked).error + label:before, [type="checkbox"]:checked.error + label:before {
  border-color: $brand-scroll;
}

[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
  @include fontawesome;  
  background: $brand-scroll;
  content: "\f00c";
  font-size: $s3;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  transition: all .2s;
  color: $white;
  padding-top: 3px;
  text-align: center;
  @include position(absolute, 0 null null 0);
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
[type="checkbox"]:checked:focus + label:before, [type="checkbox"]:not(:checked):focus + label:before { 
}
label:hover:before { 
}

[type="radio"]:not(:checked), [type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
[type="radio"]:not(:checked) + label:before, [type="radio"]:checked + label:before {
  content: "";
  height: 17px;
  border: 1px solid $blue-dark;
  background: $white;
  color: $checkbox;
  width: 17px;
  @include border-radius(50%);
  @include position(absolute, 2px null null 2px);
}

[type="radio"]:not(:checked) + label:after, [type="radio"]:checked + label:after {
  background-color: $blue-dark;
  content: "";
  height: 9px;
  width: 9px;
  transition: all .2s;
  @include border-radius(50%);
  @include position(absolute, 6px null null 6px);
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
  @include position(absolute, 6px null null 6px);
}
[type="radio"]:disabled:not(:checked) + label:before, [type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: $blue-dark;
  background-color: $white;
}
[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="radio"]:disabled + label {
  color: #aaa;
}
[type="radio"]:checked:focus + label:before, [type="radio"]:not(:checked):focus + label:before { 
}
label:hover:before { 
}
.form-group {
  @include clear;
}
.form-control {  
  @include border-radius(0);
  &:active, &:focus, &:hover {
    outline: none;
    //border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

$input-padding-y : 10px;
$input-padding-x : 10px;
$font-size-base : 14px;
$input-line-height : 1.5;
$input-color : #333740;
$input-bg : #fff;
$input-border-width: 1px;
$input-border-color:  #c1c1c1;
$input-placeholder-color :#949494;
$input-disabled-bg :#c1c1c1;
$input-height : 35px; 
$select-height : 40px;
$form-group-margin-bottom:1rem;
$label-margin-bottom:10px;
$form-group-margin-bottom:20px;
$border-radius:5px;

.form-control {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: $font-size-base;
    line-height: $input-line-height;
    color: $input-color;
    background-color: $input-bg;
    background-clip: padding-box;
    border-radius: $border-radius;
    border: $input-border-width solid $input-border-color; 
    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    &::placeholder {
        color: $input-placeholder-color;   
        opacity: 1;
    }

    &:disabled,
    &[readonly] {
        background-color: $input-disabled-bg;   
        opacity: 1;
    }
}

select.form-control { 
  &:not([size]):not([multiple]) {
    height: $select-height;
  }

  &:focus::-ms-value {    
    color: $input-color;
    background-color: $select-height;
  }
}
.form-group {
  margin-bottom: $form-group-margin-bottom;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}
label {
    display: inline-block;
    margin-bottom: $label-margin-bottom;
    color: #333740;
}

.btn-link{
    text-decoration: none!important;
    position: relative;
    color: #333740;
    font-weight: bold;
    padding: 0px 10px;
    &:after{
        background: none repeat scroll 0 0 transparent;
        bottom: -15px;
        content: "";
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        background: #16beef;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    &:hover, &.active{
        color: #283277;
        &:after { 
            width: 100%; 
            left: 0; 
        }
    }    
}

select{  
    &.minimal {
    background-color: $input-bg;
    padding: $input-padding-y $input-padding-x;
    font-size: $font-size-base;
    line-height: $input-line-height;
    color: $input-color;
    background-color: $input-bg;
    border: $input-border-width solid $input-border-color; 
    border-radius: 5px;
    display: inline-block;    
    line-height: 1em;
    width: 100%;    
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
      background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
      background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px);
      background-size:
        5px 5px,
        5px 5px;
      background-repeat: no-repeat;
        &:focus {
            background-image:
            linear-gradient(45deg, gray 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, gray 50%);
            background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em;               
            outline: 0;
        }
    }
    &.select-no-border {
      border-radius: 0;
      border: none;
      width: auto;
      padding-right: 35px;
    }
}