.logo_slogan{
    font-size: 9px;
    display: block;
    margin-top: 10px;
}
.DZ-lr{
    font-size: 14px;
	.modal-content {
		border-radius: 20px;
	}
    &__header{       
        .close{
            top: 15px;
            position: absolute;
            right: 15px;
        }
    }   
    &__heading{
        margin-left: -15px;
        margin-right: -15px;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 15px;
    }
    &__body{
        .terms-con{
            font-size: 11px;
            a{
                color: #293277;
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
            
        }
    }
}