// _modal.scss

.modal {
  z-index: 99999;
}
.modal-backdrop {
  z-index: 9999;
}
.modal-wrap {
  height: $full;
  width: $full;
  .modal-table {
    display: table;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: $full;
    .modal-cell {
      display: table-cell;
      padding: 20px;
      vertical-align: middle;
    }
  }
  @include desktop {
    z-index: 10;
    @include position(absolute, 0 0 0 0);
  }
}
.dark {
  .modal-cell {
    p {
      color: $brand-black;
    }
  }
}

//bootmodal
.modal-content {
  @include border-radius(0);
}

  .modal-header {
      border: none;
  }

.modal-backdrop {
  background: $backdrop;
  &.show {
      opacity: 0.8;
  }
}

.message-box-popup {
  h2 {
    font-size: 24px;
    color: $brand-scroll;
  }
  .modal-body {
      h2 {
        font-size: 18px;
      }
  }
}