// side bar in Patient landing page
.sidebar{
    ul{
        border: 1px solid #ebeaeb;
        border-radius: 5px;
        background: $white;
        li{
            a{
                padding: 20px;
                display: block;
                color:#333740;
                border-bottom: 1px solid #ebeaeb;
                font-size: 14px;
                &:hover{
                    background: #e7f8fd;
                }
                &.active{
                    background: #14bef0;
                    color: $white;
                    &:after{
                        content: "\f178";
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        padding-left: 20px;
                    }
                }
            }
            
        }
    }
}